{:deps {clj-fuzzy/clj-fuzzy {:mvn/version "0.4.1"}
        cheshire/cheshire {:mvn/version "5.12.0"}
        clojure.java-time/clojure.java-time {:mvn/version "1.4.2"}
        org.bouncycastle/bcprov-jdk15on {:mvn/version "1.70"}
        org.bouncycastle/bcpkix-jdk15on {:mvn/version "1.70"}
        commons-codec/commons-codec {:mvn/version "1.16.1"}
        io.xapix/matchete {:mvn/version "2.0.0"}
        org.clojure/tools.reader {:mvn/version "1.4.0"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}}

 :paths ["src" "classes"]

 :aliases
 {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.773"}}}

  :cljs-repl {:main-opts ["-m" "cljs.main" "-co" "axel_f.dev.js.edn" "--repl"]}

  :cljs-build {:main-opts ["-m" "cljs.main" "-co" "axel_f.min.js.edn" "--compile"]}

  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.6", :git/sha "8e78bcc"}}
          :ns-default build
          :exec-fn compile-java}

  :test {:extra-paths ["test"]
         :extra-deps {lambdaisland/kaocha {:mvn/version "1.87.1366"}
                      lambdaisland/kaocha-cloverage {:mvn/version "1.1.89"}
                      lambdaisland/kaocha-cljs {:mvn/version "1.5.154"}}}}}
